<div>
    <div class="row">
        <h2 class="col-10">{{hero.nombre}} - <small>{{hero.aparicion}}</small></h2>
        <div class="col-2">
            <button [routerLink]="['/heros']" class="btn btn-outline-primary btn-block">Regresar</button>
            
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-4">
            <img [src]="hero.img" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>Casa: {{hero.casa}} <img class="img-logo" src="../../../assets/img/marvelLogo.jpg" *ngIf="hero.casa == 'Marvel'"><img class="img-logo" src="../../../assets/img/dcLogo.jpg" *ngIf="hero.casa == 'DC'"></h3>
            <hr>
            <p>{{hero.bio}}</p>
        </div>
    </div>
</div>

<hr>
    <button class="btn btn-outline-danger btn-block" (click)="elimiar(hero._id)">Eliminar</button>
        <button type="button" class="btn btn-outline-warning btn-block" (click)="dispararActualizar(hero._id)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Actualizar
          </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="text-warning" id="exampleModalLabel">Actualiza un Heroe</h2>
                <button type="button" class="btn-close btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                
                    <div class="jumbotron">
                        <form (ngSubmit)="actualizar(forma)" #forma="ngForm">
                            
                            <div class="input-group-prepend">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombre" placeholder="Ingresa el nombre" [(ngModel)]="HeroeM.nombre" required/>
                            </div><br>
                            <div class="input-group-prepend">
                                <label class="form-label">Biografía</label>
                                <input type="text" class="form-control" name="bio" placeholder="Ingresa la biografía" [(ngModel)]="HeroeM.bio" />
                            </div><br>
                            <div class="input-group-prepend">
                                <label class="form-label">Aparición</label>
                                <input type="date" class="form-control" name="aparicion" placeholder="Ingresa la fecha de aparición" [(ngModel)]="HeroeM.aparicion" required/>
                            </div> <br>
                            <div class="input-group-prepend">
                                <label class="form-label">Casa</label>
                                <input type="text" class="form-control" name="casa" placeholder="Ingresa la casa" [(ngModel)]="HeroeM.casa" required/>
                            </div> <br>
                            <button type="submit" class="btn btn-block btn-outline-warning">Actualizar</button>
                        </form>
                    </div>
                
            </div>
        </div>
    </div>

    